<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>
    <settings>
        <!-- 打开延迟加载的开关 -->
        <setting name="lazyLoadingEnabled" value="true" />
        <!-- 将积极加载改为消息加载，即按需加载 -->
        <setting name="aggressiveLazyLoading" value="false"/>
        <!-- 将数据表的下划线字段转成代码的驼峰字段 -->
        <setting name="mapUnderscoreToCamelCase" value="true"/>
    </settings>
    <typeAliases>
        <typeAlias alias="Student" type="com.example.mybatis.student.student" />
        <typeAlias alias="Class" type="com.example.mybatis.Class.Class" />
        <typeAlias alias="Card" type="com.example.mybatis.Card.Card" />
    </typeAliases>

</configuration>
